* {
    box-sizing: border-box;
}
  
html {
    margin: 0%;
    min-height: 100%;
}
  
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100vh; */
    height: calc(400vh - 1rem);
}
  
.nav-wrapper {
    margin: 0;
    padding: .6rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-other-text {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: reverse;
      list-style-type: none;
}

.nav-text {
    padding: 0 1rem;
}

.main-intro-sec {
    background-color: peachpuff;
}

.intro-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.intro-photo {
    height: 22rem;
    width: 22rem;
}

.title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-sec {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 30rem;     */
}

.first-project-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.first-project-photo {
    height: 17rem;
    width: 24rem;
}

.second-project-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.second-project-photo {
    height: 19rem;
    width: 18rem;
}

.third-project-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.third-project-photo {
    height: 17rem;
    width: 24rem;
}

.skills-sec {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 30rem;  */
}

.devicon-javascript-plain, .devicon-html5-plain, .devicon-postgresql-plain, .devicon-express-original, .devicon-nodejs-plain-wordmark, .devicon-linux-plain, .devicon-bootstrap-plain, .devicon-git-plain, .devicon-amazonwebservices-original, .devicon-mocha-plain {
    font-size: 3rem;
}

.about-sec {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.about-photo {
    width: 15rem;
    height: 15rem;
}

.contact-sec {
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.devicon-github-plain {
    font-size: 6rem;
    padding: 1rem;
}

.linkedin-icon, .email-icon, .resume-icon {
    width: 7rem;
    height: 7rem;
    padding: 1rem;
}

/* Footer*/
.footer-nav {
    margin: 1rem;
    flex-shrink: 0;
}

.footer-text {
    font-size: 1rem;
    color: black;
}